<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="real_name" jdbcType="VARCHAR" property="realName" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name, password, real_name
    </sql>


    <select id="selectList" resultMap="BaseResultMap" parameterType="com.example.entity.User" >
        select
        <include refid="Base_Column_List" />
        from t_user
        <include refid="queryConditions" />
    </select>
    <select id="selectListByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user
        where id in (${userIds})
    </select>


    <sql id="queryConditions">
        <where>
            <if test="userName!=null and userName!=''">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="password!=null and password!=''">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realName!=null and realName!=''">
                and real_name = #{realName,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
</mapper>
